<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.bug_recommendation.mapper.RecommendationMapper">

    <resultMap id="recommendation" type="Recommendation">
        <id property="uuid" column="uuid"/>
        <result property="type" column="type"/>
        <result property="location" column="location"/>
        <result property="description" column="description"/>
        <result property="bug_lines" column="bug_lines"/>
        <result property="start_line" column="start_line"/>
        <result property="end_line" column="end_line"/>
        <result property="prev_code" column="prev_code"/>
        <result property="curr_code" column="curr_code"/>
        <result property="curr_commitid" column="curr_commitid"/>
        <result property="next_commitid" column="next_commitid"/>
        <result property="nextstart_line" column="nextstart_line"/>
        <result property="nextend_line" column="nextend_line"/>
        <result property="repoid" column="repoid"/>
        <result property="modification_method" column="modification_method"/>
        <result property="reponame" column="reponame"/>
        <result property="filename" column="filename"/>
        <result property="class_name" column="class_name"/>
        <result property="method_name" column="method_name"/>
        <result property="appear_num" column="appear_num"/>
        <result property="useful_count" column="useful_count"/>
    </resultMap>

    <insert id="addBugRecommendation" parameterType="Recommendation">
        insert into bug_recommendation
        (
        uuid,
        type,
        location,
        description,
        bug_lines,
        start_line,
        end_line,
        prev_code,
        curr_code,
        curr_commitid,
        next_commitid,
        nextstart_line,
        nextend_line,
        repoid,
        modification_method,
        reponame,
        filename,
        class_name,
        method_name,
        appear_num,
        useful_count
        )
        values
        (
        #{uuid},
        #{type},
        #{location},
        #{description},
        #{bug_lines},
        #{start_line},
        #{end_line},
        #{prev_code},
        #{curr_code},
        #{curr_commitid},
        #{next_commitid},
        #{nextstart_line},
        #{nextend_line},
        #{repoid},
        #{modification_method},
        #{reponame},
        #{filename},
        #{class_name},
        #{method_name},
        #{appear_num},
        #{useful_count}
        )
    </insert>

    <update id="updateRecommendationsAppearNum">
        UPDATE bug_recommendation SET appear_num = #{appear_num} WHERE uuid = #{uuid}
    </update>

    <update id="addUsefulCount">
        UPDATE bug_recommendation SET useful_count = #{useful_count} WHERE uuid = #{uuid}
    </update>

    <select id="getRecommendationsByLocation" parameterType="String" resultMap="recommendation">
        select * from bug_recommendation where location = #{location}
    </select>

    <select id="getRecommendationsByType" parameterType="Map" resultMap="recommendation">
        select * from bug_recommendation where type = #{type} and modification_method = "modify" order by appear_num,useful_count,start_line limit #{start},#{size}
        <!--<where>-->
                <!--<if test="type!=null">-->
                        <!--type = #{type}-->
                <!--</if>-->
        <!--</where>-->
        <!--order by appear_num,start_line-->
        <!--<if test="start != null and size != null">-->
            <!--limit #{start},#{size}-->
        <!--</if>-->
    </select>

    <select id="getRecommendationsByStart_line" parameterType="Integer" resultMap="recommendation">
        select * from bug_recommendation where start_line = #{start_line}
    </select>

    <select id="getRecommendationsByEnd_line" parameterType="Integer" resultMap="recommendation">
        select * from bug_recommendation where end_line = #{end_line}
    </select>

    <select id="getAllBugRecommendationId" resultType="String">
        select uuid from bug_recommendation;
    </select>

    <select id="getRepoNameByRepoId" resultType="String">
        select name from project where repoid = #{repoid};
    </select>

    <select id="getRecommendationsByBug_lines" parameterType="String" resultMap="recommendation">
        select * from bug_recommendation where bug_lines = #{bug_lines};
    </select>

    <select id="getRecommendationsByTypeCount" parameterType="String" resultType="Integer">
        select count(*) from bug_recommendation where type = #{type} and modification_method = "modify";
    </select>

    <select id="getRecommendationsSameTypeFile" parameterType="String" resultMap="recommendation">
        select * from bug_recommendation where type = #{type} and filename = #{filename};
    </select>

    <delete id="deleteBugRecommendationByRepoId" parameterType="String">
        delete from bug_recommendation where repoid = #{repoid}
    </delete>

</mapper>