<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.cloneservice.mapper.CloneRawIssueMapper">


    <resultMap id="cloneRawIssue" type="CloneRawIssue">
        <id property="uuid" column="uuid"/>
        <result property="group_id" column="group_id"/>
        <result property="scan_id" column="scan_id"/>
        <result property="clone_issue_id" column="clone_issue_id"/>
        <result property="commit_id" column="commit_id"/>
        <collection property="locations" column="clone_issue_id" select="cn.edu.fudan.cloneservice.mapper.CloneLocationMapper.getCloneLocation"/>
    </resultMap>

    <insert id="insertCloneRawIssueList" parameterType="List">
        insert into clone_rawIssue
                (
                   uuid,
                   group_id,
                   scan_id,
                   clone_issue_id,
                   commit_id
                )
         values
        <foreach collection="list" item="item" index="index" separator=",">
                (
                   #{item.uuid},
                   #{item.group_id},
                   #{item.scan_id},
                   #{item.clone_issue_id},
                   #{item.commit_id}
                )
        </foreach>
    </insert>

    <select id="getCloneRawIssueWithLocations" parameterType="String" resultMap="cloneRawIssue">
        select * from clone_rawIssue where commit_id = #{commit_id}
    </select>
    
</mapper>