<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.cloneservice.mapper.CloneMeasureMapper">
    <resultMap id="cloneMeasure" type="cn.edu.fudan.cloneservice.domain.CloneMeasure">
        <id property="uuid" column="uuid"/>
        <result property="repoId" column="repo_id"/>
        <result property="commitId" column="commit_id"/>
        <result property="newCloneLines" column="new_clone_lines"/>
        <result property="selfCloneLines" column="self_clone_lines"/>
        <result property="addLines" column="add_lines"/>
        <result property="cloneLines" column="clone_lines"/>
        <result property="commitTime" column="commit_time"/>
    </resultMap>

    <select id="getCloneMeasure" resultMap="cloneMeasure">
    select * from clone_measure where repo_id=#{repo_id} and commit_id=#{commit_id} limit 1
    </select>

    <select id="getCloneMeasures" resultMap="cloneMeasure">
    select * from clone_measure where repo_id=#{repo_id}
    </select>

    <insert id="insertCloneMeasure" parameterType="cn.edu.fudan.cloneservice.domain.CloneMeasure">
        insert into clone_measure
        (
        uuid,
        repo_id,
        commit_id,
        new_clone_lines,
        self_clone_lines,
        add_lines,
        clone_lines,
        commit_time
        )
        VALUES
        (
        #{uuid},
        #{repoId},
        #{commitId},
        #{newCloneLines},
        #{selfCloneLines},
        #{addLines},
        #{cloneLines},
        #{commitTime}
        )
    </insert>

    <delete id="deleteCloneMeasureByRepoId" parameterType="String">
        delete from clone_measure where repo_id=#{repo_id}
    </delete>

    <select id="getMeasureCountByCommitId" parameterType="String" resultType="Integer">
        select count(uuid) from clone_measure where repo_id = #{repo_id} and commit_id = #{commit_id}
    </select>

    <select id="getLatestCloneLines" resultMap="cloneMeasure">
        select * from clone_measure where repo_id=#{repo_id} order by commit_time desc limit 1
    </select>

</mapper>

