<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.cloneservice.mapper.CloneInfoMapper">
    <resultMap id="cloneInfo" type="cn.edu.fudan.cloneservice.domain.CloneInfo">
        <id property="uuid" column="uuid"/>
        <result property="repoId" column="repo_id"/>
        <result property="commitId" column="commit_id"/>
        <result property="filePath" column="file_path"/>
        <result property="newCloneLines" column="new_clone_lines"/>
        <result property="selfCloneLines" column="self_clone_lines"/>
        <result property="type" column="type"/>
    </resultMap>

    <insert id="insertCloneInfo" parameterType="List">
        insert into clone_info
        (
        uuid,
        repo_id,
        commit_id,
        file_path,
        new_clone_lines,
        self_clone_lines,
        type
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.uuid},
            #{item.repoId},
            #{item.commitId},
            #{item.filePath},
            #{item.newCloneLines},
            #{item.selfCloneLines},
            #{item.type}
            )
        </foreach>
    </insert>

    <delete id="deleteCloneInfo" parameterType="String">
        delete from clone_info where repo_id=#{repo_id}
    </delete>

</mapper>

