<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.cloneservice.mapper.CommitMapper">


    <select id="getCommitIdList" parameterType="String" resultType="String">
        select commit_id from commit where repo_id = #{repo_id} and developer = #{developer} and DATE(commit_time) BETWEEN #{start} AND #{end}
    </select>

</mapper>