<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.cloneservice.mapper.IssueMapper">
    <resultMap id="issue" type="cn.edu.fudan.cloneservice.domain.Issue">
        <id property="uuid" column="uuid"/>
        <result property="type" column="type"/>
        <result property="category" column="category"/>
        <result property="start_commit" column="start_commit"/>
        <result property="start_commit_date" column="start_commit_date"/>
        <result property="end_commit" column="end_commit"/>
        <result property="end_commit_date" column="end_commit_date"/>
        <result property="raw_issue_start" column="raw_issue_start"/>
        <result property="raw_issue_end" column="raw_issue_end"/>
        <result property="repo_id" column="repo_id"/>
        <result property="target_files" column="target_files"/>
        <result property="create_time" column="create_time"/>
        <result property="update_time" column="update_time"/>
        <result property="priority" column="priority"/>
        <result property="displayId" column="display_id"/>
    </resultMap>
    <select id="getIssueByDuration" resultMap="issue">
    select *
     from issue where category = "clone" and repo_id = #{repo_id} and ( start_commit_date between #{start} and #{end})
    </select>
<!--    <select id="getOneIssueByDuration" resultMap="issue">-->
<!--    select * from issue where category = "clone"  limit 1-->
<!--    </select>-->

</mapper>

