<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.cloneservice.mapper.LocationMapper">

    <resultMap id="location" type="cn.edu.fudan.cloneservice.domain.Location">
        <id property="uuid" column="uuid"/>
        <result property="start_line" column="start_line"/>
        <result property="end_line" column="end_line"/>
        <result property="bug_lines" column="bug_lines"/>
        <result property="start_token" column="start_token"/>
        <result property="end_token" column="end_token"/>
        <result property="file_path" column="file_path"/>
        <result property="class_name" column="class_name"/>
        <result property="method_name" column="method_name"/>
        <result property="rawIssue_id" column="rawIssue_id"/>
        <result property="code" column="code"/>
    </resultMap>

    <resultMap id="cloneLocation" type="cn.edu.fudan.cloneservice.domain.CloneLocation">
        <id property="uuid" column="uuid"/>
        <result property="type" column="type"/>
        <result property="bugLines" column="bug_lines"/>
        <result property="filePath" column="file_path"/>
        <result property="rawIssueId" column="rawIssue_id"/>
        <result property="repoId" column="repo_id"/>
        <result property="commitId" column="commit_id"/>
        <result property="category" column="category"/>
    </resultMap>


    <select id="getLocations" resultMap="location">
        select * from location where rawIssue_id =#{uuid}
    </select>

    <select id="getLocationsByCommitIdAndRepoId" resultMap="location">
        SELECT * FROM location where rawIssue_id in(SELECT uuid FROM rawIssue where commit_id='e762d0e56298e0d1b751591744b427df8788041d' and repo_id='fceef984-5ee6-11ea-8d15-29e6fabaf15b' and category='clone')
    </select>

    <select id="getCloneLocations" resultMap="cloneLocation">
        select * from clone_location where repo_id=#{repoId} and commit_id=#{commitId} and category='clone'
    </select>

</mapper>