<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.cloneservice.mapper.PackageScanStatusMapper">
    <select id="selectPackageScanStatus" parameterType="String" resultType="String">
        select status from ce_scan_status where repo_id = #{p_repo_id} and p_commit_id = #{p_commit_id} limit 1
    </select>

    <select id="selectAllStatus" resultType="String">
        select status from ce_scan_status limit 1
    </select>



</mapper>