<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.cloneservice.mapper.PackageNameMapper">

    <!--<select id="selectPackageNameSet"-->

    <insert id="insertPackageNameSetByRepoIdAndCommitId" parameterType="cn.edu.fudan.cloneservice.domain.PackageInfo">
        insert into ce_package_info values (#{uuid},#{repd_id},#{commit_id}, #{package_name}, #{method_num}, #{clone_ins_num})
    </insert>

    <select id="selectPackageNameSetByRepoIdAndCommitId" parameterType="String" resultType="String">
        select package_name from ce_package_info where repo_id = #{p_repo_id} and commit_id = #{p_commit_id} limit 1
    </select>
</mapper>