<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.cloneservice.mapper.RawIssueMapper">
    <resultMap id="rawIssue" type="cn.edu.fudan.cloneservice.domain.RawIssue">
        <id property="uuid" column="uuid"/>
        <result property="type" column="type"/>
        <result property="category" column="category"/>
        <result property="detail" column="detail"/>
        <result property="file_name" column="file_name"/>
        <result property="scan_id" column="scan_id"/>
        <result property="issue_id" column="issue_id"/>
        <result property="commit_id" column="commit_id"/>
        <result property="repo_id" column="repo_id"/>
        <result property="code_lines" column="code_lines"/>
    </resultMap>
    <select id="getRawIssueByUUID" resultMap="rawIssue">
        select * from rawIssue where uuid=#{uuid}
    </select>

    <select id="getRawIssueByRepoIdCommitIdIssueId" resultMap="rawIssue">
        select * from rawIssue where repo_id = #{repo_id}
                                and commit_id = #{commit_id}
                                and issue_id = #{issue_id} limit 1
    </select>

    <select id="getRawIssueByTypeAndCommit" resultMap="rawIssue">
        select * from rawIssue where repo_id = #{repo_id}
                                and commit_id = #{commit_id}
                                and type = #{type}
    </select>

    <select id="getRawIssueByCommitId" resultMap="rawIssue">
        select * from rawIssue where repo_id = #{repo_id}
                                and commit_id = #{commit_id}
                                and category = 'clone'
    </select>
</mapper>