<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.tagservice.mapper.IgnoreRecordMapper">

    <resultMap id="ignoreRecord" type="IgnoreRecord">
        <id property="uuid" column="uuid"/>
        <result property="userId" column="user_id"/>
        <result property="level" column="level"/>
        <result property="type" column="type"/>
        <result property="tool" column="tool"/>
        <result property="repoId" column="repo_id"/>
        <result property="repoName" column="repo_name"/>
        <result property="branch" column="branch"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <insert id="insertOneRecord" parameterType="ignoreRecord">
        insert into ignore_record
        (
        uuid,
        user_id,
        level,
        type,
        tool,
        repo_id,
        repo_name,
        branch,
        update_time
        )
        values
        (
        #{uuid},
        #{userId},
        #{level},
        #{type},
        #{tool},
        #{repoId},
        #{repoName},
        #{branch},
        #{updateTime}
        )
    </insert>

    <delete id="cancelOneIgnoreRecord"  >
        delete from ignore_record where user_id = #{user_id} and level = #{level} and type = #{type} and repo_id = #{repo_id}
        <if test="tool != null and tool != ''" >
            and tool = #{tool}
        </if>
    </delete>

    <select id="queryMinIgnoreLevelByUserId" parameterType="String" resultType="Integer">
        select min(level) from ignore_record where user_id = #{user_id} and type = #{type}
    </select>

    <delete id="cancelInvalidRecord" parameterType="String">
        delete from ignore_record where user_id = #{user_id} and type = #{type}
        <if test="tool != null and tool != ''" >
            and tool = #{tool}
        </if>
    </delete>

    <select id="queryOneRecord" resultMap="ignoreRecord">
        select * from ignore_record where user_id = #{user_id} and level = #{level} and type = #{type} and repo_id = #{repo_id}
        <if test="tool != null and tool != ''" >
            and tool = #{tool}
        </if>
    </select>

    <select id="getIgnoreRecordList" resultMap="ignoreRecord">
        select * from ignore_record where user_id = #{user_id}
    </select>

    <select id="getIgnoreTypeListByRepoId" resultType="String">
        select type from ignore_record where repo_id = #{repo_id}
    </select>

    <delete id="deleteIgnoreRecordWhenRepoRemove" parameterType="String">
        delete from ignore_record where repo_id = #{repo_id} and user_id = #{user_id}
    </delete>
</mapper>