<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.accountservice.mapper.AccountMapper">

    <resultMap id="account" type="Account">
        <id property="uuid" column="uuid"/>
        <result property="accountName" column="accountName"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="right" column="account_right"/>
        <result property="groups" column="groups"/>
    </resultMap>

    <resultMap id="tool" type="Tool">
        <id property="uuid" column="id"/>
        <result property="toolType" column="tool_type"/>
        <result property="toolName" column="tool_name"/>
        <result property="description" column="description"/>
        <result property="enabled" column="is_enabled"/>
        <result property="installed" column="is_installed"/>
    </resultMap>

    <insert id="addAccount" parameterType="Account">
        insert into account
        (
        uuid,
        accountName,
        password,
        name,
        email,
        account_right,
        groups
        )
        values
        (
        #{uuid},
        #{accountName},
        #{password},
        #{name},
        #{email},
        #{right},
        #{groups}
        )
    </insert>

    <select id="getAccountIdByName" parameterType="String" resultType="String">
        select uuid from account where name = #{name}
    </select>

    <select id="getAccountByAccountName" parameterType="String" resultMap="account">
        select * from account where accountName = #{accountName}
    </select>

    <select id="login" resultMap="account">
        select *
        from
        account
        where
        accountName=#{accountName} and password=#{password}
    </select>

    <select id="getAccountByEmail" parameterType="String" resultMap="account">
        select * from account where email = #{email}
    </select>

    <select id="getAllAccountId" resultType="String">
        select uuid from account;
    </select>

    <select id="getAccountNameById" parameterType="String" resultType="String">
        select accountName from account where uuid=#{uuid};
    </select>

    <update id="updateToolsEnable" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update tool
            <set >
                <if test="item.enabled != null" >
                    is_enabled = #{item.enabled},
                </if>
                <if test="item.toolName != null" >
                    tool_name = #{item.toolName},
                </if>
                <if test="item.description != null" >
                    description = #{item.description},
                </if>
            </set>
            where id = #{item.uuid}
        </foreach>

    </update>

    <select id="getTools" resultMap="tool">
        select * from tool
    </select>
</mapper>