<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.commitservice.mapper.CommitMapper">

    <resultMap id="commit" type="Commit">
        <id property="uuid" column="uuid"/>
        <result property="commit_id" column="commit_id" />
        <result property="message" column="message" />
        <result property="developer" column="developer" />
        <result property="commit_time" column="commit_time" />
        <result property="is_scanned" column="is_scanned" />
        <result property="project_id" column="project_id" />
        <result property="repo_id" column="repo_id" />
    </resultMap>


    <select id="getCommitByProjectID" parameterType="String" resultMap="commit">
        select * from commit where project_id = #{project_id} order by commit_time desc
    </select>

    <select id="getCommitDate" parameterType="String" resultType="java.util.Date">
        select commit_time from commit where commit_id = #{commit_id}
    </select>

    <select id="getTillCommitDate" parameterType="String" resultType="java.util.Date">
        select max(commit_time) from commit where is_scanned = 1 and repo_id = #{repo_id}
    </select>

    <select id="getCommitByCommitId" parameterType="String" resultType="Commit">
        select * from commit where commit_id = #{commit_id}
    </select>

    <update id="updateCommitScanStatus" parameterType="Commit" >
        update commit
        <set>
            <if test="is_scanned != null">
                is_scanned = #{is_scanned},
            </if>
        </set>
        where commit_id = #{commit_id}
    </update>

    <delete id="deleteCommitByProjectId" parameterType="String">
        delete from commit where project_id = #{projectId}
    </delete>

    <select id="getScannedCommits" parameterType="String" resultMap="commit">
        select
              *
        from
              commit
        where
              project_id = #{project_id}
        and  is_scanned = 1
        order by commit_time
    </select>


</mapper>