<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.cloneservice.scan.mapper.CloneRepoMapper">
    <resultMap id="cloneRepo" type="cn.edu.fudan.cloneservice.scan.domain.CloneRepo">
        <id property="uuid" column="uuid"/>
        <result property="repoId" column="repo_id"/>
        <result property="startCommit" column="start_commit"/>
        <result property="endCommit" column="end_commit"/>
        <result property="totalCommitCount" column="total_commit_count"/>
        <result property="scannedCommitCount" column="scanned_commit_count"/>
        <result property="scanTime" column="scan_time"/>
        <result property="status" column="status"/>
        <result property="startScanTime" column="start_scan_time"/>
        <result property="endScanTime" column="end_scan_time"/>
        <result property="scanCount" column="scan_count"/>
    </resultMap>

    <insert id="insertCloneRepo" parameterType="cn.edu.fudan.cloneservice.scan.domain.CloneRepo">
        insert into clone_repo
        (
        uuid,
        repo_id,
        start_commit,
        end_commit,
        total_commit_count,
        scanned_commit_count,
        scan_time,
        status,
        start_scan_time,
        end_scan_time,
        scan_count
        )
        VALUES
        (
        #{uuid},
        #{repoId},
        #{startCommit},
        #{endCommit},
        #{totalCommitCount},
        #{scannedCommitCount},
        #{scanTime},
        #{status},
        #{startScanTime},
        #{endScanTime},
        #{scanCount}
        )
    </insert>

    <update id="updateOneScan" parameterType="cn.edu.fudan.cloneservice.scan.domain.CloneRepo">
        UPDATE clone_repo
        <set>
            <if test="endScanTime != null">end_scan_time = #{endScanTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="scanTime != null">scan_time = #{scanTime},</if>
            <if test="scannedCommitCount != null">scanned_commit_count = #{scannedCommitCount},</if>
        </set>
        where uuid = #{uuid}
    </update>

    <select id="getLatestCloneRepo" resultMap="cloneRepo">
        select * from clone_repo where repo_id=#{repo_id} order by start_scan_time desc limit 1
    </select>

    <select id="getScanCount" parameterType="String" resultType="Integer">
        select count(uuid) from clone_repo where repo_id = #{repo_id}
    </select>

</mapper>