<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.cloneservice.scan.mapper.CloneLocationMapper">
    <resultMap id="cloneLocation" type="cn.edu.fudan.cloneservice.scan.domain.CloneLocation">
        <id property="uuid" column="uuid"/>
        <result property="repoId" column="repo_id"/>
        <result property="commitId" column="commit_id"/>
        <result property="filePath" column="file_path"/>
        <result property="methodLines" column="method_lines"/>
        <result property="cloneLines" column="clone_lines"/>
        <result property="type" column="type"/>
        <result property="className" column="class_name"/>
        <result property="methodName" column="method_name"/>
        <result property="code" column="code"/>
        <result property="category" column="category"/>
    </resultMap>

    <insert id="insertCloneLocationList" parameterType="List">
        insert into clone_location1
        (
        uuid,
        repo_id,
        commit_id,
        file_path,
        method_lines,
        clone_lines,
        type,
        class_name,
        method_name,
        code,
        category
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.uuid},
            #{item.repoId},
            #{item.commitId},
            #{item.filePath},
            #{item.methodLines},
            #{item.cloneLines},
            #{item.type},
            #{item.className},
            #{item.methodName},
            #{item.code},
            #{item.category}
            )
        </foreach>
    </insert>

    <select id="getCloneLocations" resultMap="cloneLocation">
        select * from clone_location1 where repo_id=#{repo_id} and commit_id=#{commit_id}
    </select>

    <delete id="deleteCloneLocations" parameterType="String">
        delete from clone_location1 where repo_id=#{repo_id}
    </delete>

</mapper>