<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.projectmanager.mapper.ProjectMapper">

    <resultMap id="project" type="Project">
        <id property="uuid" column="uuid"/>
        <result property="name" column="name"/>
        <result property="language" column="language"/>
        <result property="url" column="url"/>
        <result property="vcs_type" column="vcs_type"/>
        <result property="type" column="type"/>
        <result property="account_id" column="account_id"/>
        <result property="download_status" column="download_status"/>
        <result property="scan_status" column="scan_status"/>
        <result property="add_time" column="add_time"/>
        <result property="till_commit_time" column="till_commit_time"/>
        <result property="last_scan_time" column="last_scan_time"/>
        <result property="description" column="description"/>
        <result property="repo_id" column="repo_id"/>
    </resultMap>

    <insert id="addOneProject" parameterType="Project">
        insert into project
        (
        uuid,
        name,
        language,
        url,
        vcs_type,
        type,
        account_id,
        download_status,
        scan_status,
        add_time,
        till_commit_time,
        last_scan_time,
        description,
        repo_id
        )
        VALUES
        (
        #{uuid},
        #{name},
        #{language},
        #{url},
        #{vcs_type},
        #{type},
        #{account_id},
        #{download_status},
        #{scan_status},
        #{add_time},
        #{till_commit_time},
        #{last_scan_time},
        #{description},
        #{repo_id}
        )
    </insert>

    <select id="getProjectByAccountId" parameterType="String" resultMap="project">
        select * from project
        <if test="account_id != null">
            where account_id = #{account_id}
        </if>
        order by add_time desc
    </select>

    <select id="getProjectByKeyWordAndAccountId" parameterType="String" resultMap="project">
        select *
        from project
        <where>
            account_id = #{account_id}
            <if test="keyWord != null and keyWord != '' ">
                and url like "%"#{keyWord}"%"
            </if>
        </where>
    </select>

    <select id="getProjectByRepoId" parameterType="String" resultMap="project">
        select * from project where repo_id = #{repo_id}
    </select>

    <select id="getProjectList" parameterType="String" resultMap="project">
        select * from project where account_id = #{account_id} and type = #{type}
    </select>

    <select id="getProjectByID" parameterType="String" resultMap="project">
        select * from project where uuid = #{uuid}
    </select>

    <select id="getProjectNameById" parameterType="String" resultType="String">
        select name from project where uuid = #{projectId} order by
    </select>

    <select id="getProjectByURLTypeAndAccountId" parameterType="String" resultType="project">
        select * from project where account_id = #{account_id} and url = #{url}and type = #{type}
    </select>

    <select id="getRepoPath" parameterType="String" resultType="String">
        select local_addr from repository where uuid =
        (select repo_id from project where uuid=#{project_id});
    </select>

    <select id="getRepoId" parameterType="String" resultType="String">
        select repo_id from project where uuid = #{projectId}
    </select>

    <select id="getProjectIdsByRepoIdAndType" parameterType="String" resultType="String">
        select uuid from project where repo_id = #{repo_id} and type = #{type}
    </select>

    <select id="getProjectsByURLAndType" parameterType="String" resultMap="project">
        select * from project where url = #{url}and type = #{type}
    </select>

    <select id="getRepoIdsByAccountId" parameterType="String" resultType="String">
        select distinct repo_id from project
        <if test="account_id != null">
            where account_id = #{account_id}
        </if>
    </select>

    <delete id="remove" parameterType="String">
        delete from project where uuid = #{projectId}
    </delete>

    <update id="updateProjectStatus" parameterType="Project">
        update project
        <set>
            <if test="language != null">
                language = #{language},
            </if>
            <if test="vcs_type != null">
                vcs_type = #{vcs_type},
            </if>
            <if test="download_status != null">
                download_status = #{download_status},
            </if>
            <if test="scan_status != null">
                scan_status = #{scan_status},
            </if>
            <if test="till_commit_time != null">
                till_commit_time = #{till_commit_time},
            </if>
            <if test="last_scan_time != null">
                last_scan_time = #{last_scan_time},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="repo_id != null">
                repo_id = #{repo_id}
            </if>
        </set>
        where uuid = #{uuid}
    </update>
</mapper>