<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.recommendation.mapper.RecommendationMapper">

    <resultMap id="bugRecommendation" type="BugRecommendation">
        <id property="uuid" column="uuid"/>
        <result property="type" column="type"/>
        <result property="location" column="location"/>
        <result property="description" column="description"/>
        <result property="bugLines" column="bug_lines"/>
        <result property="start_line" column="start_line"/>
        <result property="end_line" column="end_line"/>
        <result property="prev_code" column="prev_code"/>
        <result property="curr_code" column="curr_code"/>
        <result property="curr_commitid" column="curr_commitid"/>
        <result property="next_commitid" column="next_commitid"/>
    </resultMap>

    <insert id="addBugRecommendation" parameterType="bugRecommendation">
        insert into bug_recommendation
        (
        uuid,
        type,
        location,
        description,
        bugLines,
        start_line,
        end_line,
        nextstart_line,
        nextend_line,
        code,
        prev_code,
        curr_code,
        curr_commitid,
        next_commitid
        )
        values
        (
        #{uuid},
        #{type},
        #{location},
        #{description},
        #{bugLines},
        #{start_line},
        #{end_line},
        #{nextstart_line},
        #{nextend_line},
        #{code},
        #{prev_code},
        #{curr_code},
        #{curr_commitid},
        #{next_commitid}
        )
    </insert>

    <select id="getRecommendationsByLocation" parameterType="String" resultMap="recommendation">
        select * from bug_recommendation where location = #{location}
    </select>

    <select id="getRecommendationsByType" parameterType="String" resultMap="recommendation">
        select * from bug_recommendation where type = #{type}
    </select>

    <select id="getAllBugRecommendationId" resultType="String">
        select uuid from bug_recommendation;
    </select>

</mapper>