<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.issueservice.mapper.IssueTypeMapper">

    <resultMap id="issueType" type="IssueType">
        <id property="uuid" column="uuid"/>
        <result property="type" column="type"/>
        <result property="tool" column="tool"/>
        <result property="category" column="category"/>
        <result property="description" column="description"/>
    </resultMap>


    <insert id="insertIssueTypeList" parameterType="List">
        insert into issueType
        (
        uuid,
        type,
        tool,
        category,
        description,
        language
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.uuid},
            #{item.type},
            #{item.tool},
            #{item.category},
            #{item.description},
            #{item.language}
            )
        </foreach>
    </insert>

    <select id="getIssueTypeByTypeName" parameterType="String" resultMap="issueType">
        select * from issueType where type =#{type}
    </select>

</mapper>

