<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.issueservice.mapper.RawIssueMapper">

    <resultMap id="rawIssue" type="RawIssue">
        <id property="uuid" column="uuid"/>
        <result property="type" column="type"/>
        <result property="category" column="category"/>
        <result property="detail" column="detail"/>
        <result property="file_name" column="file_name"/>
        <result property="scan_id" column="scan_id"/>
        <result property="issue_id" column="issue_id"/>
        <result property="commit_id" column="commit_id"/>
        <result property="repo_id" column="repo_id"/>
        <result property="code_lines" column="code_lines"/>
        <result property="commit_time" column="commit_time"/>
        <result property="developer_email" column="developer_email"/>
        <result property="status" column="status"/>
        <collection property="locations" column="uuid"
                    select="cn.edu.fudan.issueservice.mapper.LocationMapper.getLocations"/>
    </resultMap>

    <resultMap id="rawIssue2" type="RawIssue">
        <id property="uuid" column="uuid"/>
        <result property="type" column="type"/>
        <result property="category" column="category"/>
        <result property="detail" column="detail"/>
        <result property="file_name" column="file_name"/>
        <result property="scan_id" column="scan_id"/>
        <result property="issue_id" column="issue_id"/>
        <result property="commit_id" column="commit_id"/>
        <result property="repo_id" column="repo_id"/>
        <result property="code_lines" column="code_lines"/>
        <collection property="locations" column="uuid"
                    select="cn.edu.fudan.issueservice.mapper.LocationMapper.getLocations"/>
    </resultMap>

    <resultMap id="rawIssue3" type="RawIssue">
        <id property="uuid" column="uuid"/>
        <result property="type" column="type"/>
        <result property="category" column="category"/>
        <result property="detail" column="detail"/>
        <result property="file_name" column="file_name"/>
        <result property="scan_id" column="scan_id"/>
        <result property="issue_id" column="issue_id"/>
        <result property="commit_id" column="commit_id"/>
        <result property="repo_id" column="repo_id"/>
        <result property="code_lines" column="code_lines"/>
        <association property="issue" column="issue_id"
                     select="cn.edu.fudan.issueservice.mapper.IssueMapper.getIssueByID"/>
        <collection property="locations" column="uuid"
                    select="cn.edu.fudan.issueservice.mapper.LocationMapper.getLocations"/>
    </resultMap>


    <insert id="insertRawIssueList" parameterType="List">
        insert into rawIssue
        (
        uuid,
        type,
        category,
        detail,
        file_name,
        scan_id,
        issue_id,
        commit_id,
        repo_id,
        code_lines,
        status
        )
        VALUES
        <foreach collection="list" item="item" index="index"
                 separator=",">
            (
            #{item.uuid},
            #{item.type},
            #{item.category},
            #{item.detail},
            #{item.file_name},
            #{item.scan_id},
            #{item.issue_id},
            #{item.commit_id},
            #{item.repo_id},
            #{item.code_lines},
            #{item.status}
            )
        </foreach>
    </insert>

    <delete id="deleteRawIssueByRepoIdAndCategory" parameterType="String">
        delete from rawIssue  where repo_id = #{repo_id} and category = #{category}
    </delete>

    <select id="getRawIssueById" parameterType="String" resultMap="rawIssue">
        select * from rawIssue where uuid = #{uuid}
    </select>

    <update id="batchUpdateIssueId" parameterType="java.util.List">
        update rawIssue
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="issue_id =case" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="item.issue_id != null">
                        when uuid=#{item.uuid} then #{item.issue_id}
                    </if>
                </foreach>
            </trim>
        </trim>
        <where>
            <foreach collection="list" separator="or" item="item">
                uuid = #{item.uuid}
            </foreach>
        </where>
    </update>


    <select id="getIssueCountBeforeSpecificTime" parameterType="String" resultType="Integer">
        select
        count(distinct(issue_id))
        from
        rawIssue
        where
        scan_id in (select uuid from scan where end_time &lt; #{specificTime} and project_id in (select uuid from
        project where account_id = #{account_id}));
    </select>


    <select id="getRawIssueByCommitIDAndCategory" parameterType="String" resultMap="rawIssue2">
        select * from rawIssue where repo_id = #{repo_id} and category = #{category} and commit_id = #{commit_id} and status != 'solved'
    </select>

    <select id="getRawIssueByCommitIDAndFile" resultMap="rawIssue3">
        select * from rawIssue where repo_id = #{repo_id} and commit_id = #{commit_id} and category = #{category} and file_name like CONCAT('%',#{file},'%') and status != 'solved'
    </select>

    <select id="getRawIssueByIssueId" parameterType="String" resultMap="rawIssue">
        select distinct a.* ,b.commit_time as commit_time , b.developer_email as developer_email
        from rawIssue as a
        inner join commit as b
        on a.commit_id = b.commit_id
        where a.issue_id=#{issueId} and a.status != 'solved'
        order by commit_time desc ;
    </select>

   <select id="getTypesByCommit" resultType="string">
       select distinct type as types
       from rawIssue
       where category = #{category} and commit_id = #{commit_id} and status != 'solved'
       order by types
   </select>

    <select id="getNumberOfRemainingIssue" parameterType="String" resultType="Integer">
        select count(*) from rawIssue where repo_id = #{repo_id} and commit_id = #{commit_id} and status != 'solved';
    </select>

    <select id="getNumberOfRemainingIssueBaseFile" resultType="Integer">
        select count(*) from rawIssue where repo_id = #{repo_id} and commit_id = #{commit_id} and file_name = #{file_name} and status != 'solved'
    </select>

    <select id="getNumberOfRemainingIssueBasePackage" resultType="Integer">
        select count(*) from location where rawIssue_id in
        (select uuid from rawIssue where repo_id = #{repo_id} and commit_id = #{commit_id} and status != 'solved')
        and file_path like #{package_name}
    </select>

    <select id="getRankOfFileBaseIssueQuantity" resultType="java.util.WeakHashMap">
        select file_name as 'key',count(file_name) as 'value'
        from rawIssue
        where commit_id = #{commit_id} and repo_id = #{repo_id} and status != 'solved'
        group by file_name order by value ;
    </select>

    <select id="getRankOfFileBaseDensity" resultType="java.util.WeakHashMap">
        select file_name as 'key',code_lines/count(file_name) as 'value'
        from rawIssue
        where commit_id = #{commit_id} and repo_id = #{repo_id} and status != 'solved'
        group by file_name order by value ;
    </select>

    <select id="getNumberOfRawIssuesByIssueIdAndStatus" resultType="Integer">
        select count(*) from rawIssue where issue_id = #{issueId}
        <if test="list != null || list.size != 0">
            <foreach collection="list"  item="status">
                and status = #{status}
            </foreach>
        </if>
        ;
    </select>

    <select id="getRawIssueListByIssueId" resultMap="rawIssue">
        select distinct a.* ,b.commit_time as commit_time , b.developer_email as developer_email
        from rawIssue as a
        inner join commit as b
        on a.commit_id = b.commit_id
        where a.issue_id = #{issue_id}
        <if test="list != null ">
            <foreach collection="list"  item="status">
                and status = #{status}
            </foreach>
        </if>

        order by commit_time desc
        <if test="start != null  and size != null ">
            limit #{start},#{size}
        </if>
        ;
    </select>

    <select id="getChangedRawIssues" resultMap="rawIssue">
        select distinct a.* ,b.commit_time as commit_time , b.developer_email as developer_email from
        rawIssue as a
        inner join commit as b
        on a.commit_id = b.commit_id
        where a.uuid in
        (select distinct rawIssue_id from location where rawIssue_id in
          (select uuid from rawIssue where issue_id = #{issueId}) and status != 'solved'
        )
        order by commit_time desc
    </select>

    <select id="getRawIssueCommitTimeByRepoIdAndCategory" resultType="String">
        select  distinct(b.commit_time) as commit_time from
         (select commit_id from rawIssue where repo_id = #{repo_id} and category = #{category} and status != 'solved' group by commit_id) as a
         inner join
         commit as b
         on a.commit_id=b.commit_id  where a.commit_id = #{commit_id} order by b.commit_time;
    </select>

    <select id="getCommitIdWhichBeforeDesignatedTime" resultType="String">
        select  distinct(a.commit_id) as commit_id from
        (select commit_id from rawIssue where repo_id = #{repo_id} and category = #{category}  and status != 'solved' group by commit_id) as a
        inner join
        commit as b
        on a.commit_id=b.commit_id where  <![CDATA[ b.commit_time < #{commit_time} ]]> order by b.commit_time desc limit 1
    </select>

    <select id="getRawIssueIdByCommitId" resultType="String">
        select uuid from rawIssue where commit_id = #{commit_id} and repo_id = #{repo_id} and category = #{category} and status != 'solved';
    </select>

    <select id="getLatestScannedCommitId" parameterType="String" resultType="String">
        select commit_id from scan where repo_id = #{repo_id} and category = #{category} and commit_time = (select max(commit_time) from scan where
        repo_id = #{repo_id} and category = #{category} and status = "done");
    </select>
</mapper>