<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.measureservice.mapper.FileMeasureMapper">

    <resultMap id="fileMeasure" type="FileMeasure">
        <id property="uuid" column="uuid"/>
        <result property="repoId" column="repo_id"/>
        <result property="commitId" column="commit_id"/>
        <result property="commitTime" column="commit_time"/>
        <result property="filePath" column="file_path"/>
        <result property="ccn" column="ccn"/>
        <result property="addLine" column="add_lines"/>
        <result property="deleteLine" column="del_lines"/>
        <result property="totalLine" column="total_lines"/>
    </resultMap>

    <insert id="insertOneFileMeasure" >
        insert into file_measure
            (
               uuid,
               repo_id,
               commit_id,
               commit_time,
               file_path,
               ccn,
               add_lines,
               del_lines,
               total_lines
            )
        values
           (
              #{uuid},
              #{repoId},
              #{commitId},
              #{commitTime},
              #{filePath},
              #{ccn},
              #{addLine},
              #{deleteLine},
              #{totalLine}
           )
    </insert>

    <select id="getDevHistoryCommitInfo" parameterType="String" resultType="java.util.HashMap">
        SELECT
            commit_id,commit_time,developer_name,commit_message,first_parent_commit_id,second_parent_commit_id
        FROM
            repo_measure
        WHERE
            repo_id = #{repo_id}
            and
            DATE(commit_time) BETWEEN #{since} AND #{until}
        ORDER BY
            commit_time
    </select>

    <select id="getCcnByCommitIdAndFilePath" parameterType="String" resultType="Integer">
        SELECT
            ccn
        FROM
            file_measure
        WHERE
            commit_id = #{commit_id}
            and
            file_path = #{file_path}
    </select>

    <select id="getDevHistoryFileInfo" parameterType="String" resultType="java.util.HashMap">
        SELECT
            file_path, commit_id, ccn, add_lines, del_lines
        FROM
            file_measure
        WHERE
            commit_id = #{commit_id}
    </select>



</mapper>