<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.fudan.measureservice.mapper.RepoMeasureMapper">

    <resultMap id="repoMeasure" type="RepoMeasure">
        <id property="uuid" column="uuid"/>
        <result property="files" column="files"/>
        <result property="ncss" column="ncss"/>
        <result property="classes" column="classes"/>
        <result property="functions" column="functions"/>
        <result property="ccn" column="ccn"/>
        <result property="java_docs" column="java_docs"/>
        <result property="java_doc_lines" column="java_doc_lines"/>
        <result property="single_comment_lines" column="single_comment_lines"/>
        <result property="multi_comment_lines" column="multi_comment_lines"/>
    </resultMap>

    <insert id="insertOneRepoMeasure" >
        insert into repo_measure
            (
               uuid,
               files,
               ncss,
               classes,
               functions,
               ccn,
               java_docs,
               java_doc_lines,
               single_comment_lines,
               multi_comment_lines,
               commit_id,
               commit_time,
               repo_id
            )
        values
           (
              #{uuid},
              #{files},
              #{ncss},
              #{classes},
              #{functions},
              #{ccn},
              #{java_docs},
              #{java_doc_lines},
              #{single_comment_lines},
              #{multi_comment_lines},
              #{commit_id},
              #{commit_time},
              #{repo_id}
           )
    </insert>
</mapper>